<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="reminderForm" (ngSubmit)="this.createRemind()">
    <ion-item>
      <ion-label color="primary" fixed></ion-label>
      <ion-input type="textarea" placeholder="Activity" formControlName="todo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed>Date</ion-label>
      <ion-datetime displayFormat="H:m DD.MM.YYYY" formControlName="date" [(ngModel)]="date" required></ion-datetime>
    </ion-item>
    <ion-button type="submit" color="primary" expand="block" fill="outline">Submit</ion-button>
  </form>
</ion-content>
