<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reminder</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let remind of reminders">
      <ion-card-content>
        {{remind.todo}}
      </ion-card-content>
      <ion-item>
        <label>
          {{remind.date}}
        </label>
        <ion-button fill="outline" slot="end" (click)="deleteRemind(remind)">Done</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
